/* Fonts */
@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
}

/* Main Styles */
body {
  margin: 0;
  background-color: #0a0a0a !important;
  color: #fafafa !important;
  font-family: "Geist", "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.5px;
  overflow-x: hidden;
}

.section {
  background-color: #0d0d0d;
  border: 2px solid #27272a;
  color: #fafafa !important;
  border-radius: 15px;
  opacity: 1;
}

/* TEST */
.custom-width {
  width: 100%;
}
@media (min-width: 576px) {
  .custom-width {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .custom-width {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .custom-width {
    width: 50%;
  }
}

.badge {
  font-size: 12px;
  font-weight: 400;
}

#fixedAtBottom {
  display: block;
  width: auto;
  position: fixed;
  bottom: 1%;
  right: 50%;
  transform: translateX(50%);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
