/* Fonts */
@font-face {
  font-family: "GilroyRegular";
  src: url("../assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
}

/* Main Styles */
body {
  margin: 0;
  background-color: #0a0a0a !important;
  color: #fafafa !important;
  font-family: "GilroyRegular", "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  letter-spacing: -0.5px;
  overflow-x: hidden;
}
.container {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}
.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.outline {
  border: 2px solid #27272a;
  border-radius: 15px;
}

.test {
  background-color: #0d0d0d;
  opacity: 1;
}
